#pragma code_page(65001)

#include "winuser.h"
#include <winver.h>

1 ICON "icon.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID MANIFEST "manifest.xml"

101 RCDATA "../src/utils.js"
102 RCDATA "../src/script.js"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,3,0,0
PRODUCTVERSION  2,3,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "SyrieYume"
            VALUE "FileVersion", "2.3.0.0"
            VALUE "InternalName", "GenshinAutoV2"
            VALUE "OriginalFilename", "GenshinAutoV2.exe"
            VALUE "ProductName", "GenshinAutoV2"
            VALUE "ProductVersion", "2.3.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
       VALUE "Translation", 0x0804, 1200
    END
END